@charset "utf-8";
/* CSS Document */

body		{ margin:0px; padding:0px; background:#F3F3F1 ; font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; min-width:1003px;}
.floatLeft 	{ float:left;}
.floatRight { float:right;}
.clear		{ clear:both;}
a			{ text-decoration:none; color:#FFF;}
a.simple	{ text-decoration:none; color:#FFF; !important; font-weight:100 !important}
img			{ border:none;}
.wrapper	{ margin:0px auto; padding:0px 0px; width:960px;}
/*H1 {
	font-family: "Lucida Sans Unicode";
	font-size: 1.2em;
	font-weight: strong;
	color: #192B33;	
}
H2 {
	font-family: "Lucida Sans Unicode";
	font-size: 1.0em;
	font-weight: normal;
	color: #192B33;	
}
H3 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 0.9em;
	font-weight: normal;
	color: #333;	
}
h4			{ margin:0px; padding:0px; font-size:24px; color:#826e89; font-weight:normal;font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}
h4 span		{ font-size:18px;}
h5			{ margin:20px 0px 0px 0px; padding:0px; font-size:34px; color:#484848; font-weight:normal;}
h6			{ margin:0px 120px 20px 120px; padding:0px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-style:italic; font-size:22px; color:#6d6d6d;}*/
h6 span		{ color:#2a2a2a;}
.alignCenter{ text-align:center !important;}
.width160	{ width:160px !important;} 

/* Header Part */

.logo			{ margin:0px 0px; padding:15px 10px 5px 0px; float:left;}
.login			{ margin:0px; padding:25px 0px 5px 10px; float:right; text-align:right;}
.field			{ margin:0px 6px; padding:0px; float:left; font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size:12px; color:#826e89; line-height:22px;}
.field a		{ color:#826e89;}
.field a:hover	{ color:#7A7AC1; text-decoration:underline;}
.textbox-wrapper{ margin:0px; padding:0px; border:solid 1px #e5dfec;}
.textbox-wrapper .textbox{ margin:0px; padding:0px 3px; background:#FFFFFF; border-radius:0px; -moz-border-radius:0px; border:solid 1px #dbdbdc; height:26px; line-height:26px; font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size:12px; color:#333; width:180px;}
.textbox-wrapper .textbox:focus	{ border:solid 1px #a590be; background:#f9f6fd;}
.button			{ margin:0px; padding:2px 8px; border:solid 1px #FFF; border-bottom:solid 1px #cdcdcd; font-weight:bold; cursor:pointer; font-size:14px; color:#000000; background:#dcdcdc;
			  	  background: -webkit-gradient(linear, left top, left bottom, from(#dcdcdc), to(#ffffff)); background: -moz-linear-gradient(top, #dcdcdc, #ffffff);
			      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dcdcdc', endColorstr='#ffffff');}
.button:hover	{ background:#dcdcdc; background:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dcdcdc)); background: -moz-linear-gradient(top, #ffffff, #dcdcdc); 
			   	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');}


.loginpage-msg	{ margin:5px 0px 0px 0px;}
.setting-btn	{ margin:15px 0px 0px 0px; padding:0px; float:right; background:#FFFFFF;}
.setting-btn a	{ margin:0px 5px; padding:8px 3px 7px 4px; display:block; float:left;}

.datebox		{ width:100px;}
.datebox2		{ width:70px;}
.height10		{ line-height:5px;}

.true				{ margin:0px 0px 0px 10px; padding:10px 0px 10px 20px; background:url(../images/accept.png) no-repeat left; color:#090; font-size:11px; line-height:15px;}
.false				{ margin:0px 0px 0px 10px; padding:10px 0px 10px 20px; background:url(../images/error.png) no-repeat left; color:#900; font-size:11px; line-height:15px;}

.true1		{ margin:0px 0px 0px 20px; padding:0px 0px 0px 20px; background:url(../images/accept.png) no-repeat left; color:#090; font-size:11px; position:absolute}
.false1		{ margin:0px 0px 0px 20px; padding:0px 0px 0px 20px; background:url(../images/error.png) no-repeat left; color:#900; font-size:11px; position:absolute}
.error-msg	{margin:5px 0px; padding:10px 10px 10px 35px; width:97%; box-shadow:1px 1px 3px #F2C4C4; -moz-box-shadow:1px 1px 3px #F2C4C4; background:#feecec url(../images/error-icon.png) no-repeat left; font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size:14px; color:#cd4949; border:solid 1px #f7c9c9; text-align:left;}

.errormsg	{ margin:0px; padding:10px 0px 10px 35px; width:97%; box-shadow:1px 1px 3px #F2C4C4; -moz-box-shadow:1px 1px 3px #F2C4C4; background:#feecec url(../images/error-icon.png) no-repeat left; font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size:14px; color:#cd4949; border:solid 1px #f7c9c9; text-align:left;}

.error		{ margin:0px; padding:0px 0px 0px 15px; background:url(../images/error.png) no-repeat left; font-size:12px; color:#900;}	
	  
/* Login Page */

.login-table	{ margin:0px; padding:0px;}
.login-table label{ margin:0px 10px 0px 0px; padding:0px; color:#484848; font-size:14px; text-align:right; display:block;}

.captcha1		{ margin:0px; padding:0px;}
.captcha1 img	{ float:left;}
.captcha1 input	{ margin:12px 0px 0px 0px; padding:0px 2px; float:left; border:1px solid #A590BE; border-radius:2px;
    color:#333333; font-size:14px; height:22px; width:110px; line-height:22px;}
.captcha1 a		{ margin:0px 5px; line-height:46px; float:right;}


.login-box		{ margin:20px 0px; border:solid 1px #f2ebfa; background:#FFF; width:60%; padding:20px; 
				  border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
				  box-shadow:0 0 5px #F2F2F2; -moz-box-shadow:0 0 5px #F2F2F2; -webkit-box-shadow:0 0 5px #F2F2F2;}

.login-btn		{ margin-top:15px;}

.login-error	{ margin:0px 0px 10px 0px; padding:0px;  font-size:12px; color:#900; text-align:center;}
.bg-pattern		{ margin:0px; padding:0px 0px;}
.blank-area		{ margin:0px; padding:0px; height:80px; width:960px; }
/*.error-msg		{ margin:0px; padding:10px 10px 10px 35px; float:left; background:#feecec url(../images/error-icon.png) no-repeat 5%; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#cd4949; border:solid 1px #f7c9c9;}*/
.error			{ margin:0px; padding:0px 0px 0px 15px; background:url(../images/error.png) no-repeat left; font-size:12px; color:#900;}

.update			{ margin:0px; padding:0px; float:left; width:500px;}
.update	ul		{ margin:10px 0px; padding:0px;}
.update	ul li	{ margin:0px 5px 5px 0px; padding:0px; display:block; list-style:none; float:left; height:52px; 
				  width:52px; border:solid 1px #e8e8e8; background:#FFF;}
.update ul li a img	{ margin:1px 1px; padding:0px; height:50px; width:50px;}

.signup-error	{ margin:10px 100px 10px 10px; padding:0px; float:right;}
.signup-box		{ margin:0px; padding:0px; width:400px; float:right;}


.signup-btn		{ margin:0px 60px 0px 0px !important;}
.star			{ margin:0px; padding:0px 0px 0px 5px; color:#c60101;}
h1.signupheading{ font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size:18px; color:#81678a;}

/* Home Page */
 
.username		{ margin:0px; padding:0px; font-size:18px; color:#F2F2F2; line-height:40px;}


.slidebar		{ margin:0px; padding:0px; float:left; width:250px;}
.container		{ margin:0px; padding:0px; /*float:right; width:670px;*/}
.box			{ margin:0px 0px 20px 0px; padding:0px; color:#826e89; font-size:13px;  
			 	  border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; 
				  /*background:url(../images/box-bg.jpg) repeat-x bottom;*/}
.box p			{ margin:0px; padding:0px;}
.box-body		{ margin:0px; padding:0px 5px;}


.control-list		{ margin:0px; padding:0px;}
.control-list li	{ margin:0px; padding:0px; display:block; list-style:none; border-bottom:dotted 1px #ded6ee}
.control-list li a	{ padding:7px 5px; color:#826e89; display:block;}
.control-list li a:hover,.control-list li a.select{color:#593e62; background:#F2F0FB;}
.control-list li.lastItem	{ border-bottom:none;}


.tag-nav			{ margin:0px 0px 0px 5px; padding:0px;}
.tag-nav li			{ margin:0px; padding:0px; display:block; float:left; list-style:none;}
.tag-nav li.select-tag{ margin:0px; padding:0px; display:block; float:left; color:#593e62; list-style:none; 
						border:solid 1px #ded6ee; border-bottom:none; -moz-border-radius-topright:5px;
						-webkit-border-radius-topright:5px; border-top-right-radius:5px; -moz-border-radius-topleft:5px;
						-webkit-border-radius-topleft:5px; border-top-left-radius:5px; background:#F2F0FB;}
.tag-nav li a	{ margin:0px 0px 0px 0px; padding:12px 15px 10px 15px; text-decoration:none; font-size:15px; 
				  font-style:italic; color:#593e62; display:block; float:left;}
.content-box	{ margin:0px auto; padding:0px; width:auto; font-size: 14px; color:#333; line-height:20px; 
				  background:#FFF; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; }
.content-box form{ margin:10px 0px; padding:0px;}
.content-box .field-area{ margin:10px 0px;}
.content-box .field-area .cke_skin_kama{ margin:5px 0px;}



.listing 	{ margin:0px; padding:0px; width:100%;}
.listing th { margin:0px; padding:5px 5px; background:#F4F3FB; border:1px solid #D7D7D7; border-right:none; color:#555555;
			  font-size:13px; text-align:left;}
.listing .lastcolumn{ border-right:1px solid #D7D7D7;}
.listing td { margin:0px; padding:5px; border-bottom:1px solid #D7D7D7; border-left:1px solid #D7D7D7; color:#666666;
			  font-size:12px; text-align:center; vertical-align:top;}
.listing td.tableOptions a{ margin:0px 5px; padding:0px; float:left; }
.listing a	{ color:#666; font-weight:bold;}
.listing th.alignLeft, .listing td.alignLeft{ text-align:left;}
.listing td button{ margin:5px 0px;}
.listing td select{ font-size:10px !important;}
.listing td.open, .open		{ color:#090 !important;}
.listing td.close, .close	{ color:#F00 !important;}
.listing td.done, .done		{ color:#06C !important;}
/*.listing tr:hover{ background:#F2F0FB !important;}*/
.listing td		{ padding:3px 5px; font-size:13px; }
.listing tr.last td{ border:none;}
.listing tr:nth-child(even) {background:#fff;}
.listing tr:nth-child(odd) {background:#FBFBFB;} 
.inner-listing	tr:nth-child(even) {background:none;}
.inner-listing	tr:nth-child(odd) {background:none;}



.search-table	{ margin:0px 0px 5px 0px; color:#666;}





.listbox-wrapper	{ margin:0px; padding:0px; float:left;}
.listbox-wrapper div{ margin:5px;}
.listbox			{ margin:0px; padding:5px; background:#FFFFFF; border:solid 1px #A0A0A0; height:166px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
.listbox optgroup	{ color:#666;  font-weight:bold;}
.listbox option		{ color:#666; font-style:italic;}

/* Bulk Upload Page */

.bulk-upload	{ margin:0px; padding:20px 0px;}
.bulk-upload .upload{ margin:10px 0px; padding:0px 0px; clear:left;}
.bulk-upload .upload form{ margin:0px; padding:0px;}
.upload .field			{ margin:0px; padding:0px; font-size:14px; line-height:35px;}
.upload .field-name		{ margin:0px 5px 0px 0px; padding:0px; width:150px; float:left; text-align:right;}
.upload .field-data		{ margin:0px; padding:0px; width:auto; float:left;}
.upload .field-data div	{ margin:0px; padding:0px; float:left;}
.upload .field-data div input[type="file"] { margin:8px 10px 0px 0px;}


/* Drop Down - Radio Button - Check Box  */

.myselectbox		{ width:338px;}
/*input.selectbox 	{ margin:0px; padding:0px; font-weight:normal; width:320px; cursor:pointer; height:36px;
					  background:url(../images/dropdown.png) no-repeat right; border:none; text-indent:8px;
					  color:#826e89; font-size:14px; font-family: 'Droid Sans Mono', arial, serif; }*/
.selectbox-wrapper 	{ margin-left:2px; background-color:#FFF; position:absolute; width:316px !important; 
					  border:1px solid #d4c6e4; border-bottom:none; border-top:0px;}
.selectbox-wrapper ul 	{ margin:0px; padding:0px; background:#f0f0f0}
.selectbox-wrapper li 	{ list-style:none; padding:5px; cursor:pointer; margin:0px; text-align:left; background:#f7f3fc; border-bottom:solid 1px #d4c6e4; color:#826e89; font-size:14px; font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; }
.selectbox-wrapper li:hover {background-color:#FEFDFF;}

.radio 		{ width:19px; height:25px; padding:0 5px 0 0; background:url(../images/radio.gif) no-repeat; display:block; clear:left; float:left; }
.checkbox 	{ width:19px; height:25px; padding:0 5px 0 0; background:url(../images/checkbox.gif) no-repeat; display:block; clear:left; float:left; }



/* popup-table */

.popup-table caption{ text-align:center; font-size:18px; font-weight:bold; color:#826E89;}
.popup			{ background:#f6eff8; padding:5px;}
.popup-table	{ color:#bdb0c2; font-size:12px;}
.popup-table label{ display:block; color:#826e89; font-size:12px; font-weight:bold; font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}

/* popup-table view */

.add-user	{ margin-bottom:10px !important;}
.popup-table caption{ text-align:center; font-size:18px; font-weight:bold; color:#666; }
.popup-table caption img{ vertical-align:middle;}
.popup-table .caption1{ text-align:left; font-size:18px; font-weight:bold; color:#666;  padding:10px 0px 0px 0px;}
.popup	 { /*background:#f6eff8;*/background:#DDF6FF url(../images/background-pattern.jpg) repeat; padding:5px;}
.popup-table	{ color:#666;  font-size:12px;}
.popup-table td {  color:#666;  font-size:13px; vertical-align:top;}	
.popup-table label{ display:block; color:#333333;  font-size:13px; font-weight:bold; }
.popup-table label.fieldName{ line-height:38px;}
.normal_lable label{ display:block; color:#666;  font-size:13px; font-weight:normal; float: left; }
.normal_lable1 label{ display:block; color:#666;  font-size:13px; font-weight:normal;}

.popup-business		{ margin:0px 0px 0px 0px;}
.popup-business-type{ margin:0px;}
.popup-business .chk-box{ line-height:22px; float:left; margin:0px; padding-left:2px;}

.edit-profile label{ display:inline;}

.btn_ok			{ padding-left:25px !important; padding-right:25px !important; }

/*.popup-table label span{ float:right;}*/

.avtar-popup	{ width:100%;}

.captcha { min-width: 0px; padding: 0px; color:#666; font-weight:bold; }

.captcha img{ height: 16px; width: 16px;}


.template-popup	{ color:#666; }
.template-popup a	{ color:#4094D4;}

.name	{ margin:0px 8px 0px 0px; padding:0px; float:left;}
.name .info{ padding-top:3px; color:#999; line-height:12px;}
.nameerror{ margin:16px 0px 0px 0px; float:left;}
.width156	{ width:156px;}



/* New Pagination Class */


#ui-datepicker-div{ width:350px;}

.business-type	{height:35px; line-height:35px;}
.business-type-link{ margin:0px; padding:0px 0px 20px 175px;}
.business-type-link div{ margin:0px 5px; padding:0px; float:left;}
.api td			{ vertical-align:top; margin:0px; padding:10px 0px 0px 0px; font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; }
.resources 		{ margin:0px; padding:0px; width:300px; font-size:12px; overflow:hidden}
.resources td	{ padding:0px 0px 0px 0px; padding:0px; border-bottom:none;}
.resources-url	{ margin:0px; padding:0px; word-wrap:break-word; width:300px;}

.func-para		{ margin:0px; padding:10px 20px; border:solid 1px #f3f3f3;}
.receive-sms	{ font-size:12px; color:#666;}
.phone-mid		{ margin:0px; padding:15px 0px 0px 0px; text-align:right;}

.viewIcon {
    background: url("../images/control-icon.png") no-repeat scroll -20px 0 transparent;
    display: block;
    height: 20px;
    margin: 7px 5px;
    overflow: hidden;
    padding: 0;
    width: 20px;
}
.deleteIcon {
    background: url("../images/control-icon.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 20px;
    margin: 7px 4px;
    overflow: hidden;
    padding: 0;
    width: 20px;
}
.error-area	{ margin:0px; padding:10px; background:#900; color:#FFF; text-align:center; font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size:14px;}
.error-area a{ color:#CCC; text-decoration:underline;}
.error-area a:hover{ color:#FFF;}
.error-close	{ margin:0px; padding:0px; background:url(../images/close.png) no-repeat; width:20px; height:20px; display:block; position:absolute; right:10px; top:8px;}
span.cke_skin_kama{  padding:0px !important;}

/* Social Link */

.list			{ margin:0px; padding:0px 0px 15px 0px;}
.list li		{ margin:0px; padding:5px 0px; display:block; list-style:none;}
.list li a		{ color:#666;}
.list li a:hover{ color:#593e62;}
.list li a	{ width:auto; padding-left:8px; display:block; float:left; line-height:20px; word-wrap:break-word;}
.list li a input{ height:12px !important; width:150px !important; font-size:12px;}
.list li img{ float:left; margin-right:3px; line-height:22px;}

.box_open		{ height:20px;}
.ltf_box	 	{ margin:0px 0px 0px 30px; padding:5px 5px 10px 5px; width:235px; display:none; font-size:12px;}
.ltf_box label a{ margin:0px; padding:0px;}
.ltf_box .ltf_cancel{ margin:0px; padding:0px;}
.ltf_box label	{float:left; line-height:20px; color:#666; font-size:13px;}
.ltf_txt_box	{color:#666; width:100px; font-size:12px;}
.ltf_txt_box_1	{color:#666; width:200px; font-size:12px; border-radius:0px; border:solid 1px #ccc;}
.ltf_height10	{ height:10px !important;}
.sms			{ margin:3px 0px 0px 0px;}
.sms input[type="checkbox"] { margin:3px 5px 0px 0px;}
.sms div		{ float:left;}
.list .false,.list .true	{ margin:0px 0px 0px 30px; max-width:250px; word-wrap:break-word;}

.mainlink a { font-size: 11px; font-weight: bold; }
.mainlink a:hover { text-decoration:underline; color:#000 !important; }

/* Dialog Box Style */

#popup_container{ font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;font-size: 12px; min-width: 300px; /* Dialog will be no smaller than this */
				  max-width: 600px; /* Dialog will wrap after this width */
				  background: #000000; border: solid 5px #1C2E35; color: #000; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
#popup_title 	{ font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;font-size:13px; font-weight:bold; text-align:left; line-height:25px; color:#FFFFFF; background:#1C2E35;
			      cursor: default; padding: 0px 0px 0px 10px; margin: 0em; border-bottom:none; }
#popup_content 	{ padding:10px; margin:0em; color:#333333; font-weight:normal; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; background:#FFF;}
#popup_panel 	{ text-align:right; margin:1em 0em 0em 1em;}
#popup_panel input{ background:#BCBCBC; background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#BCBCBC));
					background: -moz-linear-gradient(top, #eeeeee, #BCBCBC); 
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#BCBCBC'); 
					border:solid 1px #cccccc; margin:0px 5px; padding:5px 10px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#666666; cursor:pointer; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
#popup_panel input:hover{ box-shadow:2px 2px 2px #000000; -moz-box-shadow:0px 0px 2px #BCBCBC; color:#000000;}

/* End Dialog Box Style */

.field-area		{ margin:10px 0px; padding:0px; font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size:12px; color:#333333; line-height:22px;}

.hire-list		{ margin:10px 0px; padding:0px; }
.hire-list li	{ margin:0px; padding:3px 0px; display:block; list-style:none; border-bottom:dotted 1px #b399c3;}
.hirenow-option div{ margin:0px 0px 0px 15px;}
.hirenow-option a{ float:left;}
.occupation		{ margin:0px; padding:0px; font-family:Arial, Helvetica, sans-serif; width:auto;}
.occupation li	{ margin:3px; padding:5px; display:block; list-style:none; float:left; width:48%; height:85px; border:solid 1px #A0A0A0; border-radius:3px; -moz-border-radius:3px; position:relative; background:#FFF;}
.occupation-img	{ margin:0px 5px 0px 0px; padding:0px; float:left; border:solid 0px #c0b2d4; height:50px; width:50px;}
.occupation-text{ margin:0px; padding:0px; float:left; width:auto; min-height:50px;}
.occupation-text p{ margin:14px 0px 5px 0px; padding:0px; font-size:14px; color:#0;}
.occupation-text p b{ margin:0px; padding:0px; color:#0; font-size:14px;}
.hirenow{ position:absolute; bottom:4px; right:4px; /*padding-top:0px !important; padding-bottom:0px !important;*/ }
.labelFloatLeft label{ float:left !important; font-weight:normal; padding-right:20px; color:#666;}

.inbox-title	{ margin:0px 0px 10px 0px; padding:0px; font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}
.inbox-title th	{ margin:0px; padding:0px 5px; color:#555555; font-size:14px; background:url(../images/title-bg.jpg) repeat-x; height:31px; border-bottom:solid 1px #cccccc; border-top:solid 1px #d7d7d7; border-left:solid 1px #d7d7d7;}
.inbox-title th a{color:#555555; display:block;}
.inbox-title th a img{ margin:7px 5px 0px 0px; padding:0px; float:right;}
.inbox-title td	{ margin:0px; padding:10px 5px; color:#666; font-size:12px; vertical-align:top; text-align:center; border-bottom:dotted 1px #CCCCCC;}
.inbox-title th.lastcolumn { border-right:solid 1px #d7d7d7;}
.inbox-title tr.lastrow td	{ border-bottom:none;}
.inbox-title td.paging	{ margin:0px; padding:5px; border-bottom:solid 1px #cccccc; border-top:solid 1px #cccccc; text-align:right; color:#5f4967; font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;font-size:13px;}
.inbox-title td.paging a{ margin:0px 5px; color:#555555;}
.inbox-title td.alignjustify{ text-align:justify;}
.inbox-title td.aligncenter{ text-align:center;}
.inbox-title td p{ margin:0px; padding:0px;}


.email-field	{ width:200px; word-wrap:break-word;}
.phoneerror		{ padding:18px 0px 0px 0px;}

.loading-text{ margin:6px auto; *margin-left:-140px; padding:10px 10px 10px 0px; display:none; font-weight:bold; font-size:16px; text-align:center; position:absolute; bottom:0px; width:450px;}
.loading-text img{ vertical-align:middle;}

.edit-field td	{ padding-bottom:10px;}
.nomargin	{ margin-top:0px; margin-bottom:0px;}

.chart2 object		{ margin:15px 0px 0px 0px;}
.pagination label	{ margin:0px 8px 0px 0px; float:right; line-height:24px;}


.site-info 		{ color:#393939; font-size:11px; margin:0; padding:3px 0px; line-height:20px; text-align:center; width:100%;}
.site-info a 	{ color:#808080; font-weight:bold; text-decoration:none;}
.site-info a:hover { color:#333333; font-weight:bold; text-decoration:underline;}

.main-wrapper	{ position:relative; min-height:100%;}
.middle-section, .middle{ padding:0px 0px 40px 0px;}
.footer-bottom	{ position:absolute; bottom:0px; height:30px; width:100%;}


.pagination{ background:none; filter:none; *padding:0px 10px 0px 0px; *height:auto; *line-height:normal;}
.yiiPager	{ float:right; margin:0px 0px 0px 0px; *margin:0px 0px 0px 0px; padding:0px; border:solid 1px;}
ul.yiiPager { font-size:11px; border:0; display:block;}
.pagination label{ float: right; line-height:normal; margin:3px 5px 0 3px;}  
