@charset "utf-8";
/* CSS Document */
/*body { width:100%; margin:0px; padding:0px; background:#F3F3F1; font:normal 13px Verdana, Geneva, sans-serif; color:#6c6c6c;  }
header, footer, section, nav { display:block; float:left; }
a { text-decoration:none; color:#6c6c6c; font-family: Verdana, Geneva, sans-serif; }
a img { border:none; }
a:focus, input:focus { outline:none; }*/
* { _noFocusLine: expression(this.hideFocus=true);
}
ul { margin:0px; padding:0px; }

.clear { clear:both; }
.wrapper { height: auto; width: 960px; margin:0px auto; padding:0px; background:none; }
.secpart { width:99%; float:left; border:1px solid #c7eaf7; margin-bottom:15px;}
.secpart .secleft { float:left; width:50%;}
.secpart .secleft h1 { background:#E9E9E9; padding:5px; color:#333333; font: bold 12px Verdana, Geneva, sans-serif;}
.secpart .secleft .formdiv { float:left; margin:0px; padding:5px;}
.secpart .secleft .formdiv p { padding:0px; margin:0px 0px 15px; color:#333; font-family: Lucida Sans Unicode,Lucida Grande,sans-serif;font-size:13px; font-weight:bold;}
.secpart .secleft .formdiv fieldset { float:left; border:none; background:none; width:100%; margin:0px 0px 3px; padding:0px;
}
.secpart .secleft .formdiv fieldset label { float:left; width:212px; text-align:left;}
.secpart .secleft .formdiv fieldset label span { text-align:right; font:normal 13px Lucida Sans Unicode; color:#000000;}
.secpart .secleft .formdiv fieldset label.rquired em { text-align:right; font:normal 12px Verdana, Geneva, sans-serif; color:#d41300;}
.secpart .secleft .formdiv fieldset input { float:left; width:228px; font:normal 12px Verdana, Geneva, sans-serif; color:#000; border:1px solid #cdced2; margin-left:5px; height:25px; margin-bottom:2px;}
.secpart .secleft .formdiv fieldset select { float:left; width:230px; font:normal 12px Verdana, Geneva, sans-serif; color:#000; border:1px solid #cdced2; margin-left:5px;}
.secpart .secleft .formdiv fieldset img { float:left; margin-left:10px;}
.secpart .secleft .formdiv fieldset span.tex { float:left; padding:0px 20px; color:#000;}
.secpart .secleft .formdiv fieldset input[type="radio"] { float:left; border:none; margin:0px; padding:0px; width:12px; height:12px;}
.secpart .secleft .formdiv fieldset div {float:left; width:228px; margin:0px 0px 15px 5px;font:normal 12px Verdana, Geneva, sans-serif; color:#000;}
.secpart .secleft .formdiv fieldset div input { float:left;font:normal 12px Verdana, Geneva, sans-serif; color:#000; border:1px solid #cdced2; width:70px; margin:0px; padding:0px;}
.secpart .secleft .formdiv fieldset div a { float:right; margin-right:10px; color:#d41300; font:normal 12px Verdana, Geneva, sans-serif; text-decoration:underline;}
.secpart .secleft .formdiv fieldset.ad input { float:left; width:228px; font:normal 12px Verdana, Geneva, sans-serif; color:#000; border:1px solid #cdced2; margin:0px 0px 3px 5px;}
.secpart .secleft .formdiv fieldset.ad { float:left; border:none; background:none; width:100%; margin:0px; padding:0px;}
.secpart .spec { float:left; width:50%; margin:10px 0px;}
.secpart .spec h1 { width:100%; float:left; background:none; padding:5px 0px; color:#0058ad; font: bold 12px Verdana, Geneva, sans-serif;}
.secpart .secleft .formdiv fieldset.sel { float:left; border:none; background:none; width:100%; margin:0px 0px 3px; padding:0px;}
.secpart .secleft .formdiv fieldset.sel select { float:left; width:73px; font:normal 12px Verdana, Geneva, sans-serif; color:#000; border:1px solid #cdced2; margin-left:5px;}
.secpart .secleft .formdiv fieldset.redio { float:left; width:100%; margin-top:20px; border:none; background:none;}

.secpart .secall { float:left; width:100%;}
.secpart .secall h1 {background:#E9E9E9; padding:5px; color:#333333; font: bold 12px Verdana, Geneva, sans-serif;}
.secpart .secall p {color:#000; font: normal 13px  "Lucida Sans Unicode", "Lucida Grande", sans-serif;}
.secpart .secall p a {color:#d41300; font:normal 12px Verdana, Geneva, sans-serif; text-decoration:underline;}
.secpart .secall .cont { float:left; padding:5px;}
.secpart .secall .cont .captcha { float:left; width:100%;}
.secpart .secall .cont img { float:left; clear:left;}
.secpart .secall .cont input[type="checkbox"]{ width:auto; margin:0px 15px 0px 0px; padding:0px;}
.secpart .secall .cont button { background:url(../images/submit.jpg) no-repeat; float:right; width:77px; height:23px; cursor:pointer; border:none; margin:10px;}
.footline { background:url(../images/border.jpg) repeat-x; width:99%; text-align:right; border-bottom:1px solid #000; float:left; padding:15px 0px;}
.footline p { text-align:right; font-size:11px; padding:0px; margin:0px;}
.footline p strong{color:#000;}
.footline p span{ margin:0px 15px; color:#000;}
.footline p span a {color:#d41300; font:normal 11px Verdana, Geneva, sans-serif; text-decoration:underline;}
